div.graphView {
    /* background-color: #333; */
    overflow: auto;
    /* white-space: nowrap; */
}
    
/* div.graphView a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
    
div.scrollmenu a:hover {
    background-color: #777;
} */

/* .links line {
    
} */
  
.nodes circle {
    stroke: #fff;
    stroke-width: 1px;
}
  
text {
    font-family: sans-serif;
    font-size: 10px;
}
  
#ctxMenu{
    display:none;
    z-index:100;
}
#notepad{
    position:absolute;
    left:25%;
    top:10%;
    width:300px;
    height:300px;
    background-color:red;
}
menu {
    position:absolute;
    display:block;
    left:0px;
    top:0px;
    height:20px;
    width:20px;
    padding:0;
    margin:0;
    border:1px solid;
    background-color:white;
    font-weight:normal;
    white-space:nowrap;
}
menu:hover{
    background-color:#eef;
    font-weight:bold;
}
menu:hover > menu{
    display:block;
}
menu > menu{
    display:none;
    position:relative;
    top:-20px;
    left:100%;
    width:155px;
}
menu[title]:before{
    content:attr(title);
}
menu:not([title]):before{
    content:"\2630";
}

#selectLinked1:hover,#selectLinked1.highlight {
  color: #fff;
  text-decoration: none;
  background-color: #009968;
}


#selectLinked2:hover,#selectLinked2.highlight {
    color: #fff;
    text-decoration: none;
    background-color: #009968;
  }

.kl-dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index:10001;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    background-color: #eeeeef;
    border: 1px solid #cacdcf;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.kl-dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
}

/* Legend */

.legend{
    font-size: 15px;
}