#time-range p {
    font-family:"Arial", sans-serif;
    font-size:14px;
    color:#333;
}
.ui-slider-horizontal {
    height: 8px;
    background: #D7D7D7;
    border: 1px solid #BABABA;
    box-shadow: 0 1px 0 #FFF, 0 1px 0 #CFCFCF inset;
    clear: both;
    margin: 8px 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}
.ui-slider {
    position: relative;
    text-align: left;
}
.ui-slider-horizontal .ui-slider-range {
    top: -1px;
    height: 100%;
}
.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    height: 8px;
    font-size: .7em;
    display: block;
    border: 1px solid #5BA8E1;
    box-shadow: 0 1px 0 #AAD6F6 inset;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
    background: #81B8F3;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #A0D4F5), color-stop(100%, #81B8F3));
    background-image: -webkit-linear-gradient(top, #A0D4F5, #81B8F3);
    background-image: -moz-linear-gradient(top, #A0D4F5, #81B8F3);
    background-image: -o-linear-gradient(top, #A0D4F5, #81B8F3);
    background-image: linear-gradient(top, #A0D4F5, #81B8F3);
}
.ui-slider .ui-slider-handle {
    border-radius: 50%;
    background: #F9FBFA;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #C7CED6), color-stop(100%, #F9FBFA));
    background-image: -webkit-linear-gradient(top, #C7CED6, #F9FBFA);
    background-image: -moz-linear-gradient(top, #C7CED6, #F9FBFA);
    background-image: -o-linear-gradient(top, #C7CED6, #F9FBFA);
    background-image: linear-gradient(top, #C7CED6, #F9FBFA);
    width: 22px;
    height: 22px;
    -webkit-box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.6), 0 -1px 0 1px rgba(0, 0, 0, 0.15) inset, 0 1px 0 1px rgba(255, 255, 255, 0.9) inset;
    -moz-box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.6), 0 -1px 0 1px rgba(0, 0, 0, 0.15) inset, 0 1px 0 1px rgba(255, 255, 255, 0.9) inset;
    box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.6), 0 -1px 0 1px rgba(0, 0, 0, 0.15) inset, 0 1px 0 1px rgba(255, 255, 255, 0.9) inset;
    -webkit-transition: box-shadow .3s;
    -moz-transition: box-shadow .3s;
    -o-transition: box-shadow .3s;
    transition: box-shadow .3s;
}
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 22px;
    height: 22px;
    cursor: default;
    border: none;
    cursor: pointer;
}
.ui-slider .ui-slider-handle:after {
    content:"";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 50%;
    margin-top: -4px;
    left: 50%;
    margin-left: -4px;
    background: #30A2D2;
    -webkit-box-shadow: 0 1px 1px 1px rgba(22, 73, 163, 0.7) inset, 0 1px 0 0 #FFF;
    -moz-box-shadow: 0 1px 1px 1px rgba(22, 73, 163, 0.7) inset, 0 1px 0 0 white;
    box-shadow: 0 1px 1px 1px rgba(22, 73, 163, 0.7) inset, 0 1px 0 0 #FFF;
}
.ui-slider-horizontal .ui-slider-handle {
    top: -.5em;
    margin-left: -.6em;
}
.ui-slider a:focus {
    outline:none;
}

#slider-range {
  width: 90%;
  margin: 0 auto;
}
#time-range {
  width: 400px;
}

/* difff slider */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.time-slider {
    height: 50px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.time-slider .ruler {
    height: 100%;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.time-slider .ruler .bg {
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #fff;
    border: 1px #cccccc solid;
    position: absolute;
    z-index: 2;
}

.time-slider .ruler .bg-event {
    left: 0;
    width: 100%;
    height: 50px;
    cursor: move;
    background-color: transparent;
    position: absolute;
    z-index: 6;
}

.time-slider .ruler .bg-event.disable-move {
    cursor: default;
}

.time-slider .ruler .current-time-caret {
    width: 2px;
    height: 50px;
    background-color: #ff0000;
    position: absolute;
    z-index: 5;
}

/* ----- graduations ----- */

.time-slider .ruler .graduation {
    top: 38px;
    width: 1px;
    height: 12px;
    background-color: #cccccc;
    position: absolute;
    z-index: 3;
}

.time-slider .ruler .graduation-title {
    top: 52px;
    width: 80px;
    cursor: default;
    color: #555555;
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    position: absolute;
    z-index: 3;
}

.time-slider .ruler .graduation.middle {
    top: 25px;
    width: 1px;
    height: 25px;
}

.time-slider .ruler .graduation.big {
    top: 0;
    width: 2px;
    height: 50px;
}

/* ----- timecells  ----- */

.time-slider .ruler .timecell {
    top: 7px;
    height: 36px;
    padding: 1px;
    position: absolute;
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    overflow: hidden;
    background-color: #ffab7d;
    opacity: 0.9;
    filter: alpha(Opacity=90);
    z-index: 4;
    border-radius: 4px;
}

.time-slider .ruler .timecell.current {
    background-color: #ff6d29;
    border-radius: 4px 0 0 4px;
}

.time-slider .ruler .timecell-event {
    top: 7px;
    height: 36px;
    background-color: transparent;
    position: absolute;
    cursor: default;
    z-index: 7;
    border-radius: 4px;
}

.time-slider .ruler .timecell-event.hover{
    border: 1px dashed #204d74;
}

.time-slider .ruler .timecell-event.moving {
    border-color: #ff0716;
}

.time-slider .ruler .timecell-event.current {
    border-right: none;
    border-radius: 4px 0 0 4px;
    cursor: default;
}


/* ----- prompts ----- */

.time-slider .prompts {
    top: 0;
    left: 0;
    position: relative;
    overflow: hidden;
    height: 150px;
    width: 100%;
}

.time-slider .prompts .prompt {
    width: 86px;
    height: 40px;
    position: absolute;
    z-index: 1070;
    display: none;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;
    line-break: auto;
}

.time-slider .prompts .prompt .body {
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: #000;
    border-radius: 4px;
}

.time-slider .prompts .prompt .triangle-up {
    top: -5px;
    left: 39px;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #000;
}

.time-slider .prompts .prompt .triangle-down {
    top: 40px;
    left: 39px;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000;
}

.hidden {
    display: none;
}

.scaleTime{
    margin-bottom: 20px;
}


/* Css to hide and unhide the scale */
